{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Trending Movies Currently Available</h1>
  <p class="lead">Feel like vegging out on the couch tonight? Check out these trending movies.</p>
</div>
<div class="container">
  <div class="row">
    {% for title,image,summary in movie_info %}
      <div class="col-md-4">
          <div class="card card-plain card-blog">
              <div class="card-image">
                  <a href="#pablo">
                      <img class="img rounded img-raised img-fluid"  src="{{ image }}" height=250 width=100% />
                  </a>
              </div>
              <div class="card-body">
                  <h4 class="card-title">
                       {{ title }}
                  </h4>
                  <p class="card-description">
                      {{ summary|truncatewords:40 }}
                      <a href="#"> Read More </a>
                  </p>
              </div>
          </div>
      </div>
      {% endfor %}

{% endblock %}
